/* 
    Document   : main
    Created on : Mar 6, 2013, 3:55:30 PM
    Author     : newuser13
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#main{
    top: 50%;
    text-align: center
}